{% extends "bootstrap/base.html" %}

{% block title %}
USBC | Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="icon" href="http://uic.edu.cn/images/favicon.ico" type="img/x-ico">
<link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet" />
<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="static/css/starter-template.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var netdataTheme = 'default'; // white netdata theme
</script>
<script type="text/javascript" src="https://hpc.uicstat.com:8444/dashboard.js"></script>
<script>
  NETDATA.options.current.destroy_on_hide = true;
  NETDATA.options.current.eliminate_zero_dimensions = false;
  NETDATA.options.current.concurrent_refreshes = true;
  NETDATA.options.current.parallel_refresher = true;
  NETDATA.options.current.stop_updates_when_focus_is_lost = false;
</script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('authentication_blueprint.homepage') }}">BNU-HKBU UIC STAT
        Computing
        Cluster</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="{{ url_for('authentication_blueprint.logout', token=token) }}">Log Out</a></li>
      </ul>
      <!--<form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>-->
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <label>Cluster Status</label>
      <ul class="nav nav-sidebar">
        <li class="active" data-toggle="tooltip" data-placement="top" title="Check the Cluster status">
          <a href="#">System Overview <span class="sr-only">(current)</span></a>
        </li>
        <li data-toggle="tooltip" data-placement="top" title="Check your SLRUM jobs">
          <a href="{{ url_for('dashboard_blueprint.slurm_status', token=token) }}">SLURM status</a>
        </li>
        <li><a href="#">Reports</a></li>
      </ul>
      <label>Tookits</label>
      <ul class="nav nav-sidebar">
        <li><a href="#">File Editor</a></li>
        <li><a href="#">Others</a></li>
      </ul>
      <label>HOWTO</label>
      <ul class="nav nav-sidebar">
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Issue Reporting</a></li>
      </ul>
      <label>Others</label>
      <ul class="nav nav-sidebar">
        <li><a href="#">About</a></li>
        <li><a href="#">Acknowledgement</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="col-xs-2 col-md-4" align="left">
        <div class="panel" style="margin-top: -35em;">
          <h3> System CPU Usage</h3>
          <h4>Computer2030005000</h4>
          <div data-netdata="system.cpu" data-char-library="google"
            data-host="https://hpc.uicstat.com:8444/host/Compute2030005000" data-width="100%" data-height="250">
          </div>
          <h4>Compute2030005001</h4>
          <div data-netdata="system.cpu" data-char-library="google"
            data-host="https://hpc.uicstat.com:8444/host/Compute2030005001" data-width="100%" data-height="250">
          </div>
          <h4>Compute2030005002</h4>
          <div data-netdata="system.cpu" data-char-library="google"
            data-host="https://hpc.uicstat.com:8444/host/Compute2030005002" data-width="100%" data-height="250">
          </div>
          <!--FOR GPU: nvidia_smi.gpu0_mem_usage-->
          <h4>Compute2030005003</h4>
          <div data-netdata="system.cpu" data-char-library="google"
            data-host="https://hpc.uicstat.com:8444/host/Compute2030005003" data-width="100%" data-height="250">
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-md-4" align="left">
        <div class="panel" style="margin-top: -35em;">
          <h3> System Memory Usage</h3>
          <h4>Computer2030005000</h4>
          <div data-netdata="system.ram" data-char-library="google"
            data-host="https://hpc.uicstat.com:8444/host/Compute2030005000" data-width="100%" data-height="250">
          </div>
          <h4>Compute2030005001</h4>
          <div data-netdata="system.ram" data-char-library="google"
            data-host="https://hpc.uicstat.com:8444/host/Compute2030005001" data-width="100%" data-height="250">
          </div>
          <h4>Compute2030005002</h4>
          <div data-netdata="system.ram" data-host="https://hpc.uicstat.com:8444/host/Compute2030005002"
            data-chart-library="dygraph" data-width="100%" data-height="250">
            <!--FOR GPU: nvidia_smi.gpu0_mem_usage-->
          </div>
          <h4>Compute2030005003</h4>
          <div data-netdata="system.ram" data-char-library="google"
            data-host="https://hpc.uicstat.com:8444/host/Compute2030005003" data-width="100%" data-height="250">
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-md-4" align="left">
        <div class="panel" style="margin-top: -35em;">
          <h3> System Network Usage</h3>
          <h4>Computer2030005000</h4>
          <div data-netdata="system.net" data-char-library="google"
            data-host="https://hpc.uicstat.com:8444/host/Compute2030005000" data-width="100%" data-height="250">
          </div>
          <h4>Compute2030005001</h4>
          <div data-netdata="system.net" data-char-library="google"
            data-host="https://hpc.uicstat.com:8444/host/Compute2030005001" data-width="100%" data-height="250">
          </div>
          <h4>Compute2030005002</h4>
          <div data-netdata="system.net" data-host="https://hpc.uicstat.com:8444/host/Compute2030005002"
            data-chart-library="dygraph" data-width="100%" data-height="250">
            <!--FOR GPU: nvidia_smi.gpu0_mem_usage-->
          </div>
          <h4>Compute2030005003</h4>
          <div data-netdata="system.net" data-char-library="google"
            data-host="https://hpc.uicstat.com:8444/host/Compute2030005003" data-width="100%" data-height="250">
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-md-4">
        <h3> System Memory Usage</h3>
        <h4>Compute2030005002 Card:0</h4>
        <div data-netdata="nvidia_smi.gpu0_mem_usage" data-char-library="google"
          data-host="https://hpc.uicstat.com:8444/host/Compute2030005002" data-width="100%" data_ieght="250">
        </div>
        <h4>Compute2030005003 Card:0</h4>
        <div data-netdata="nvidia_smi.gpu0_mem_usage" data-char-library="google"
          data-host="https://hpc.uicstat.com:8444/host/Compute2030005003" data-width="100%" data_ieght="250">
        </div>
      </div>
      <div class="col-xs-2 col-md-4">
        <h3>GPU Number of Users</h3>
        <h4>Compute2030005002 Card:0</h4>
        <div data-netdata="nvidia_smi.gpu0_user_num" data-char-library="google"
          data-host="https://hpc.uicstat.com:8444/host/Compute2030005002" data-width="100%" data_ieght="100%">
        </div>
        <h4>Compute2030005003 Card:0</h4>
        <div data-netdata="nvidia_smi.gpu0_user_num" data-char-library="google"
          data-host="https://hpc.uicstat.com:8444/host/Compute2030005003" data-width="100%" data_ieght="250">
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container-fluid">
      <!-- Left -->
      <div class="col-md-3"></div>
      <div class="text-center col-md-6">
        <!-- Declaration -->
        <p>
          This service is run transparently from
          <a href="https://github.com/Bayes-Cluster/Code-Hub">
            <span style="color:rgb(121, 121, 121)">
              Bayes-Cluster/Code-Hub
            </span>
          </a>
        </p>
        <p>Copyright &copy; 2018-
          <script>document.write(new Date().getFullYear())</script>
          <a href="https://dst.uic.edu.cn/stat_en/"> <span style="color:rgb(121, 121, 121)"> <i
                class="fab fa-github-square"></i> BNU-HKBU UIC STAT</span> </a> &
          <a href="https://github.com/Bayes-Cluster"> <span style="color:rgb(121, 121, 121)">USBC Maintenance
              Group</span>
          </a>
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </footer>
  {% endblock %}