/* Header */

.header {
    padding: 4em 0 0 ;
}

    .header .logo {
        display: block;
        border-bottom: 0;
        color: inherit;
        font-weight: 900;
        letter-spacing: 0.35em;
        margin: 0 0 2.5em 0;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
    }

        .header .logo > * {
            display: inline-block;
            vertical-align: middle;
        }

        .header .logo .symbol {
            margin-right: 0.65em;
        }

            .header .logo .symbol img {
                display: block;
                height: 2.5em;
            }